<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css.css">
    <script src="js.js"></script>
    <script src="jstesting.js"></script>
    <script src="priorities.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<body onload="loadCustomData()"></body>

</head>

<!-- Left Side navigation -->
<div class="leftsidenav" id="leftsidenav">
    <div class="pageboxnotselected">
        <a href="home.html">Home</a>
    </div>

    <div class="pageboxselected">
        <a href="priorities.html">Priorities</a>
    </div>

    <div class="pageboxnotselected">
        <a href="diary.html">Diary</a>
    </div>

    <div class="pageboxnotselected">
        <a href="calendar.html">Calendar</a>
    </div>

    <div class="pageboxnotselected">
        <a href="budgeting.html">Budgeting</a>
    </div>

    <div class="pageboxnotselected">
        <a href="customise.html">Settings</a>
    </div>
</div>
<button class="openbtn" id="openleft" onclick="toggleLeftNav()">&#9776;</button>

<!-- Left Side navigation -->
<div class="rightsidenav" id="rightsidenav">
    <div id="comp">
        <div class="weatherback1">

            <weather1></weather1>
        </div>


        <div class="weatherback2">
            <weather2></weather2>
        </div>
        <br>
        <br>
        <p class="p">Priorities
        <p>

        <div class="toppriority">
            <priority1></priority1>
        </div>

        <div class="secondpriority">
            <priority2></priority2>
        </div>

        <div class="thirdpriority">
            <priority3></priority3>
        </div>
    </div>
</div>
<button class="openbtnr" id="openright" onclick="toggleRightNav()">&#9776;</button>

<!-- Page content -->

<div class="main" id="main">
    <div id="app2">
        <div class="backingblock">

            <h1 class="title">Priorities</h1>

            <div class="topprioritybox">
                <p class="topprioritytitleonpage">Top Priority</p>
                <br>
                <div class="prioritybox">
                    <input class="prioritytitlebox" type="text" id="topPriorityEntry"
                        placeholder="Enter Top Priority title..." />
                    <input class="prioritysubmit" type="submit" onclick="setTopPriority();" />
                </div>
                <br>
                <div class="prioritybox">
                    <input class="prioritytitlebox" type="text" id="topNotesEntry"
                        placeholder="Enter Top Priority note..." />
                    <input class="prioritysubmit" type="submit" onclick="setTopNotes();" />
                </div>
                <br>
                <p>Completion:</p>
                <div class="completionmeterback">
                <button v-on:click="completion1 = completion1 + 24.4" :style="{ width: completion1 + 'px' }"
                    class="completionmeter"></button>
                </div>
                <br>
            </div>

            <br>
            <div class="topprioritybox">
                <p class="secondprioritytitleonpage">Second Priority</p>
                <br>
                <div class="prioritybox">
                    <input class="prioritytitlebox" type="text" id="secondPriorityEntry"
                        placeholder="Second Priority title..." />
                    <input class="prioritysubmit" type="submit" onclick="setSecondPriority();" />
                </div>
                <br>
                <div class="prioritybox">
                    <input class="prioritytitlebox" type="text" id="secondNotesEntry"
                        placeholder="Second Priority note..." />
                    <input class="prioritysubmit" type="submit" onclick="setSecondNotes();" />
                </div>
                <br>
                <p>Completion:</p>
                <div class="completionmeterback">
                <button v-on:click="completion2 = completion2 + 24.4" :style="{ width: completion2 + 'px' }"
                    class="completionmeter"></button>
                </div>
                <br>
            </div>
            <br>
            <div class="topprioritybox">
                <p class="thirdprioritytitleonpage">Third Priority</p>
                <br>
                <div class="prioritybox">
                    <input class="prioritytitlebox" type="text" id="thirdPriorityEntry"
                        placeholder="Third Priority title..." />
                    <input class="prioritysubmit" type="submit" onclick="setThirdPriority();" />
                </div>
                <br>
                <div class="prioritybox">
                    <input class="prioritytitlebox" type="text" id="thirdNotesEntry"
                        placeholder="Third Priority Note..." />
                    <input class="prioritysubmit" type="submit" onclick="setThirdNotes();" />
                </div>
                <br>
                <p>Completion:</p>
                <div class="completionmeterback">
                    <button v-on:click="completion3 = completion3 + 24.4" :style="{ width: completion3 + 'px' }"
                        class="completionmeter"></button>
                </div>
                <br>
            </div>
            <br>

        </div>
        <div class="backingblock">
            <h1 class="title">Days to Complete</h1>
            <div class="topprioritybox">
                <div class="tododays">
                    <div class="todochecklist">
                        <input class="todocheck" type="checkbox" id="Mo" value="Mo" v-model="checkedTodo">
                        <label class="daylabellarge" for="Mo">Monday</label>
                        <label class="daylabelsmall" for="Mo">Mo</label>
                    </div>
                    <br>
                    <div class="todochecklist">
                        <input class="todocheck" type="checkbox" id="Tu" value="Tu" v-model="checkedTodo">
                        <label class="daylabellarge" for="Tu">Tuesday</label>
                        <label class="daylabelsmall" for="Tu">Tu</label>
                    </div>
                    <br>
                    <div class="todochecklist">
                        <input class="todocheck" type="checkbox" id="We" value="We" v-model="checkedTodo">
                        <label class="daylabellarge" for="We">Wednesday</label>
                        <label class="daylabelsmall" for="We">We</label>
                    </div>
                    <br>
                    <div class="todochecklist">
                        <input class="todocheck" type="checkbox" id="Th" value="Th" v-model="checkedTodo">
                        <label class="daylabellarge" for="Th">Thursday</label>
                        <label class="daylabelsmall" for="Th">Th</label>
                    </div>
                </div>
                <br>
                <div class="tododays">
                    <br>
                    <div class="todochecklist">
                        <input class="todocheck" type="checkbox" id="Fr" value="Fr" v-model="checkedTodo">
                        <label class="daylabellarge" for="Fr">Friday</label>
                        <label class="daylabelsmall" for="Fr">Fr</label>
                    </div>
                    <br>
                    <div class="todochecklist">
                        <input class="todocheck" type="checkbox" id="Sa" value="Sa" v-model="checkedTodo">
                        <label class="daylabellarge" for="Sa">Saturday</label>
                        <label class="daylabelsmall" for="Sa">Sa</label>
                    </div>
                    <br>
                    <div class="todochecklist">
                        <input class="todocheck" type="checkbox" id="Su" value="Su" v-model="checkedTodo">
                        <label class="daylabellarge" for="Su">Sunday</label>
                        <label class="daylabelsmall" for="Su">Su</label>
                    </div>
                </div>
                <br>
                <br>
                <div>
                    <span class="todolistlarge">You've completed: {{ checkedTodo }}</span>
                    <span class="todolistsmall">You've completed:</span>
                </div>
                <br>
                <br>
                <div>
                    <span class="todolistsmall">{{ checkedTodo }}</span>
                </div>
                <br>

            </div>

            <script>
                new Vue({
                    el: '#app2',
                    data: {
                        checkedTodo: [],
                        completion1: 10,
                        completion2: 10,
                        completion3: 10
                    }
                })
            </script>
        </div>
    </div>
</div>
<script src="./components.js"></script>
</div>